body{
    color: white;
    font-family: 'Nunito Semibold';
    text-align: center;
}

#content{
    max-width: 100%;
    margin: 0 auto;

    /* CSS GRID */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 10px;
}

#content div{
    background: #3bbced;
    padding: 30px;
}

#content div:nth-child(even){
    background: #777777;
}