body{
    
    text-align: center;
    color: white;
    font-family: "Nunito SemiBold";
}

#content{
    max-width: 960px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#content div{
    padding: 30px;
    background: #3bbced;
}

#content div:nth-child(even){
    background: #777;
}

.four{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-column: 1 / 4;
}

.four p{
    border: 3px solid #fff;
    padding: 20px;
    margin: 0;
}